<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>733292026872-1v3ghah80f5dimp8fh5h6qn02fbon5hm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.733292026872-1v3ghah80f5dimp8fh5h6qn02fbon5hm</string>
	<key>API_KEY</key>
	<string>AIzaSyAHjZ8GR_pm7vcEg1u7FUjXCgIUFuWx2aE</string>
	<key>GCM_SENDER_ID</key>
	<string>733292026872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.bastiao5.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-f8a27</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-f8a27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733292026872:ios:3c29c1b9c44911f2bfd40d</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-f8a27.firebaseio.com</string>
</dict>
</plist>